<template>
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="row in events">
                    <td>{{row.name}}</td>

                    <td><button class="button is-info" @click="edit(row.id)"><i class="fa fa-pencil-square-o"></i></button></td>
                    <td><button class="button is-danger" @click="deleteActor(row.id)"><i class="fa fa-trash" ></i></button></td>


                </tr>
                </tbody>
            </table>
        </div>

        <div class="column">


        </div>

    </div>
</template>

<script>



    export default {
        data(){
            return {
                events: [],
            }

        },
        mounted () {
            this.getActors();
        },
        methods:{
            getActors()
            {

                let url = '/listactors/';
                this.axios.get(url)
                    .then(res => {

                        this.events = []
                        for (var i = res.data.length - 1; i >= 0; i--) {
                            let actor = {}
                            let data = res.data[i]
                            actor.id = data.id
                            actor.name = data.name
                            this.events.push(actor)
                        }
                    })
            },
            deleteActor(actor_id){

                let res = confirm("Are you sure to delete actor?")
                if (res) {
                    this.axios.delete('/actor/'+actor_id).then(response => {
                        this.getActors();
                    })
                } else {
                    console.log("didnt delete")
                }
            },
            edit(actor_id){
                window.location.href = "actors/" + actor_id;
            }
        }

    }
</script>

<style scoped>

</style>