<template>
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="row in events">
                    <td>{{row.name}}</td>
                    <td>{{row.year}}</td>
                    <td>{{row.genre.name}}</td>
                    <td><button class="button is-info" @click="edit(row.id)"><i class="fa fa-pencil-square-o"></i></button></td>
                    <td><button class="button is-danger" @click="deleteUser(row.id)"><i class="fa fa-trash" ></i></button></td>


                </tr>
                </tbody>
            </table>
        </div>

        <div class="column">


        </div>

    </div>
</template>

<script>



    export default {
        data(){
            return {
                events: [],

            }

        },
        mounted () {

            this.getMovies();
        },
        methods:{
            getMovies()
            {

                let url = '/movies/';
                this.axios.get(url)
                    .then(res => {

                        this.events = []
                        for (var i = res.data.length - 1; i >= 0; i--) {
                            let movie = {}
                            let data = res.data[i]
                            movie.id = data.id
                            movie.name = data.name
                            movie.year = data.year
                            movie.genre_id = data.genre_id
                            movie.genre = data.genre
                            this.events.push(movie)
                        }




                    })
            },
            deleteUser(movie_id){
                console.log(movie_id);
                let res = confirm("Are you sure to delete the movie?")
                if (res) {
                    this.axios.delete('/movies/'+movie_id).then(response => {
                        this.getMovies();
                    })
                } else {
                    console.log("didnt delete")
                }
            },
            edit(movie_id){
                window.location.href = "movies/" + movie_id;
            }
        }

    }
</script>

<style scoped>

</style>