<template>
    <div class="columns">
        <div class="column"></div>
        <div class="column">


            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input" v-model="actor.name">
                </div>

            </div>
            <button class="button pull-right is-success m-t-20" @click="save" :disabled="disabledButton">
				<span class="icon">
			      <i class="fa fa-save"></i>
			    </span>
                <span>Guardar</span>
            </button>

        </div>
        <div class="column">


        </div>

    </div>
</template>

<script>



    export default {
        data(){
            return {
                events: [],
                actor: {
                    name: '',

                },
                disabledButton: false,

            }

        },
        mounted () {


        },
        methods:{

            save () {
                return this.axios.post('/actor', this.actor).then(response => {

                    window.location.href = "/actors";
                })
            },

        }

    }
</script>

<style scoped>

</style>