<template>
    <div class="columns">
        <div class="column"></div>
        <div class="column">


            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input" v-model="movie.name">
                </div>
                <label class="label">Year</label>
                <div class="control">
                    <input  class="input" type="tel" maxlength="4" placeholder="Text input" v-model="movie.year">
                </div>
                <label class="label">Genre</label>
                <select v-model="movie.genre_id">
                    <option v-for="option in events" v-bind:value="option.id">
                        {{ option.name }}
                    </option>
                </select>
            </div>
            <button class="button pull-right is-success m-t-20" @click="save" :disabled="disabledButton">
				<span class="icon">
			      <i class="fa fa-save"></i>
			    </span>
                <span>Guardar</span>
            </button>

        </div>
        <div class="column">


        </div>

    </div>
</template>

<script>



    export default {
        data(){
            return {
                events: [],
                movie: {
                    name: '',
                    year: '',
                    genre_id: 1
                },
                disabledButton: false,

            }

        },
        mounted () {

            this.getGenres();
        },
        methods:{
            getGenres()
            {

                let url = '/genres/';
                this.axios.get(url)
                    .then(res => {

                        this.events = []
                        for (var i = res.data.length - 1; i >= 0; i--) {
                            let genre = {}
                            let data = res.data[i]
                            genre.id = data.id
                            genre.name = data.name

                            this.events.push(genre)
                        }




                    })
            },
            save () {
                return this.axios.post('/movies', this.movie).then(response => {

                    window.location.href = "/";
                })
            },

        }

    }
</script>

<style scoped>

</style>